#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.red {
  color: red;
}
.blue {
  color: blue;
}
h2{
  color: olivedrab;
  text-align: center;
}
body{
  background-color: white;
}

